body {
    height: 100% !important;
    font-family: "Courier New", monospace;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.wrapper {
    width: 70%;
    text-align: center;
    margin: 3% auto;
    height: inherit;
}

#time {
    font-size: 12vw;
    border: 10px solid black;
    border-radius: 50px;
    position: relative;
}

#ms {
    position: absolute;
    right: 10%;
    bottom: 0;
    font-size: 3vw;
}

.button {
    font-size: 7vw;
    width: 38%;
    display: inline-block;
    margin: 3%;
    border: 5px solid black;
    border-radius: 20px;
    opacity: 0.9;
    box-shadow: 0 0 5px 3px #999;
    cursor: pointer;
}

.button:hover, button:active {
    opacity: 1;
}

.button:active {
    box-shadow: none;
}

#start, #pause, #cont {
    background: green;
}

#clear {
    background: red;
}

.results {
    font-size: 5vw;
    border: 2px solid black;
    border-radius: 10px;
    max-height: 17.5vw;
    overflow: auto;
    box-sizing: border-box;
    -webkit-user-select: auto;
    -moz-user-select: auto;
    -ms-user-select: auto;
}